<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.mdapplication">

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".toolbar.SearchActivity"
            android:label="SearchSamples" />
        <activity
            android:name=".toolbar.ToolBarActivity"
            android:label="ToolBarSamples" />
        <activity
            android:name=".tablayout.TabLayoutTopActivity"

            android:label="TabLayoutTopSamples" />
        <activity
            android:name=".tablayout.TabLayoutBottomActivity"
            android:label="TabLayoutBottomSamples" />
        <activity
            android:name=".snackbar.SnackbarActivity"
            android:label="SnackbarSamples" />
        <activity
            android:name=".activities.PaletteDetailActivity"
            android:label="PaletteDetailSamples" />
        <activity
            android:name=".activities.FloatActionBarActivity"
            android:label="FloatActionBarSamples" />
        <activity
            android:name=".activities.AppBarLayoutActivity"
            android:label="AppBarLayout" />
        <activity
            android:name=".activities.BehaviorDependentActivity"
            android:label="BehaviorDependent" />
        <activity
            android:name=".activities.BehaviorNestedActivity"
            android:label="BehaviorNested" />
        <activity
            android:name=".activities.BehaviorNestedExpandActivity"

            android:label="BehaviorNestedExpand" />
        <activity
            android:name=".activities.SearchResultActivity"
            android:label="SearchResult" />
        <activity
            android:name=".TextInputActivity"
            android:label="TextInput" />
        <activity
            android:name=".activities.BottomNavigationActivity"
            android:label="BottomNavigation" />
        <activity
            android:name=".activities.SpinnerStudy"
            android:label="SpinnerStudy"

            />
        <activity
            android:name=".SwitchStudy"
            android:label="SwitchStudy" />
        <activity
            android:name=".activities.CheckedTextViewStudy"
            android:label="CheckedTextView" />
        <activity
            android:name=".TextInputLayoutStudy"
            android:label="TextInputLayoutStudy" />

        <activity
            android:name=".activities.NestedScrollingActivity"
            android:label="ScrollingActivity" />

        <activity android:name=".activities.RecyclerViewTest" />
        <activity android:name=".activities.ToggleActivity" />
        <activity android:name=".activities.AlertDialogTest" />
        <activity
            android:name=".activities.WindowSoftInputTest"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activities.AndroidTest"
            android:label="AndroidTest" />
        <activity
            android:name=".activities.FragmentStudyTest"
            android:label="FragmentStudy" />
        <activity
            android:name=".activities.TabFragmentActivityTest"
            android:label="tabFragmentActivity" />
        <activity
            android:name=".activities.Png9Activity"
            android:label="9PngActivity" />
        <activity
            android:name=".activities.btnNullTest"
            android:label="nullTestActivity" />
        <activity
            android:name=".activities.EditTestActivity"
            android:label="nullTestActivity" />
        <activity
            android:name=".enumerate.EnumerateActivity"
            android:label="enumerateActivity" />
        <activity
            android:name=".threadpool.ThreadPoolTest"
            android:label="threadPoolStudy" />

        <activity
            android:name=".activities.FileTest"
            android:label="fileTest" />
        <activity
            android:name=".activities.CustomPropertyStudy"
            android:label="customPropertyStudy" />
        <activity
            android:name=".activities.ImageButtonStudy"
            android:label="customPropertyStudy" />
        <activity
            android:name=".constraintLayout.ConstraintLayoutActivity"
            android:label="constraintLayoutActivity" />

        <activity android:name=".gridlayoutstudy.GridLayoutStudy"
            android:label="GridLayoutStudy"
            />


    </application>

</manifest>