<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zq.administrator.mdapplication">

    <uses-permission android:name="android.permission.RESTART_PACKAGES"></uses-permission>

    <application
        android:name="com.zq.administrator.myapplication.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zq.administrator.myapplication.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.zq.administrator.myapplication.toolbar.SearchActivity"
            android:label="SearchSamples" />
        <activity
            android:name="com.zq.administrator.myapplication.toolbar.ToolBarActivity"
            android:label="ToolBarSamples" />
        <activity
            android:name="com.zq.administrator.myapplication.tablayout.TabLayoutTopActivity"

            android:label="TabLayoutTopSamples" />
        <activity
            android:name="com.zq.administrator.myapplication.tablayout.TabLayoutBottomActivity"
            android:label="TabLayoutBottomSamples" />
        <activity
            android:name="com.zq.administrator.myapplication.snackbar.SnackbarActivity"
            android:label="SnackbarSamples" />
        <activity
            android:name="com.zq.administrator.myapplication.activities.PaletteDetailActivity"
            android:label="PaletteDetailSamples" />
        <activity
            android:name="com.zq.administrator.myapplication.activities.FloatActionBarActivity"
            android:label="FloatActionBarSamples" />
        <activity
            android:name="com.zq.administrator.myapplication.activities.AppBarLayoutActivity"
            android:label="AppBarLayout" />
        <activity
            android:name="com.zq.administrator.myapplication.activities.BehaviorDependentActivity"
            android:label="BehaviorDependent" />
        <activity
            android:name="com.zq.administrator.myapplication.activities.BehaviorNestedActivity"
            android:label="BehaviorNested" />
        <activity
            android:name="com.zq.administrator.myapplication.activities.BehaviorNestedExpandActivity"

            android:label="BehaviorNestedExpand" />
        <activity
            android:name="com.zq.administrator.myapplication.activities.SearchResultActivity"
            android:label="SearchResult" />
        <activity
            android:name="com.zq.administrator.myapplication.TextInputActivity"
            android:label="TextInput" />
        <activity
            android:name="com.zq.administrator.myapplication.activities.BottomNavigationActivity"
            android:label="BottomNavigation" />
        <activity
            android:name="com.zq.administrator.myapplication.activities.SpinnerStudy"
            android:label="SpinnerStudy"

            />
        <activity
            android:name="com.zq.administrator.myapplication.SwitchStudy"
            android:label="SwitchStudy" />
        <activity
            android:name="com.zq.administrator.myapplication.checkview.CheckedTextViewStudy"
            android:label="CheckedTextView" />
        <activity
            android:name=".TextInputLayoutStudy"
            android:label="TextInputLayoutStudy" />

        <activity
            android:name="com.zq.administrator.myapplication.activities.NestedScrollingActivity"
            android:label="ScrollingActivity" />

        <activity android:name="com.zq.administrator.myapplication.activities.RecyclerViewTest" />
        <activity android:name="com.zq.administrator.myapplication.activities.ToggleActivity" />
        <activity android:name="com.zq.administrator.myapplication.activities.AlertDialogTest" />
        <activity
            android:name="com.zq.administrator.myapplication.activities.WindowSoftInputTest"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.zq.administrator.myapplication.activities.AndroidTest"
            android:label="AndroidTest" />
        <activity
            android:name="com.zq.administrator.myapplication.activities.FragmentStudyTest"
            android:label="FragmentStudy" />
        <activity
            android:name="com.zq.administrator.myapplication.activities.TabFragmentActivityTest"
            android:label="tabFragmentActivity" />
        <activity
            android:name="com.zq.administrator.myapplication.activities.Png9Activity"
            android:label="9PngActivity" />
        <activity
            android:name="com.zq.administrator.myapplication.activities.BtnNullTest"
            android:label="nullTestActivity" />
        <activity
            android:name="com.zq.administrator.myapplication.activities.EditTestActivity"
            android:label="nullTestActivity" />
        <activity
            android:name="com.zq.administrator.myapplication.enumerate.EnumerateActivity"
            android:label="enumerateActivity" />
        <activity
            android:name="com.zq.administrator.myapplication.threadpool.ThreadPoolTest"
            android:label="threadPoolStudy" />

        <activity
            android:name="com.zq.administrator.myapplication.activities.FileTest"
            android:label="fileTest" />
        <activity
            android:name="com.zq.administrator.myapplication.activities.CustomPropertyStudy"
            android:label="customPropertyStudy" />
        <activity
            android:name="com.zq.administrator.myapplication.activities.ImageButtonStudy"
            android:label="customPropertyStudy" />
        <activity
            android:name="com.zq.administrator.myapplication.constraintLayout.ConstraintLayoutActivity"
            android:label="constraintLayoutActivity" />

        <activity android:name="com.zq.administrator.myapplication.gridlayoutstudy.GridLayoutStudy"
            android:label="GridLayoutStudy"
            />

        <activity android:name="com.zq.administrator.myapplication.dialog.DialogStudy"
            android:label="DialogStudy"
            />


    </application>

</manifest>